<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Sorteio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body class="container">
    <h1 class="text-center">Admin - Sorteio de Amigo Oculto</h1>
    <form action="/sortear" method="post">
        <button type="submit" class="btn btn-danger btn-block">SORTEAR</button>
    </form>
</body>
</html> -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estyle.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Santa Friend</title>
</head>
<body class="fundo">
    <div class="toaster">
        <h3>Sorteio de Amigo Oculto</h3><br>
        <div >
            <form action="/sortear" method="post">
                <button type="submit" class="btn btn-danger btn-block">SORTEAR</button>
            </form>
        </div>
    </div>
   
</body>
</html>
