<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Friend</title>
    <link rel="stylesheet" href="/css/estyle.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<body>

<form id ="formulario" class="card-container" action="/login" method="post">
  
    <div class="container">
        <div class="log-card">
    <p class="heading titulo">-{Santa Friend}-</p>
    <p class="titulo"> 1. Click abaixo e registre-se;</p>
    <p class="titulo"> 2. Faça login para o sorteio;</p>

    <div class="input-group">
        <p class="text">Email</p>
        <input  class="input"  type="username" placeholder="Digite seu email" name="email">
        <p class="text">Senha</p>
        <input class="input" type="password" placeholder="Digite a senha" name="senha">
    </div>
    <button type="submit" class="btn">Entrar</button>
    <p class="no-account">Sem cadastro?<a class="link" href="/registro"> Registre-se</a></p>
</div>
    </div>
</form>

</body>
</html>