<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Friend</title>
    <link rel="stylesheet" href="/css/estyle.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
</head>
<body>

<form class="card-container"action="/cadastrar/" method="post">
  
    <div class="container">
        <div class="log-card">
            <div class="titulo">
                <p  class="heading">Cadastre-se</p>
            </div>
        
   

    
    <div class="input-group">
        <p class="text">Email</p>
        <input  class="input  type="username" placeholder="seu email" name="email">
       
        <p class="text">Sugestão</p>
        <input class="input" type="sugestao" placeholder="sua sugestão" name="sugestao">
        <p class="text">Senha</p>
        <input class="input" type="password" placeholder="senha" name="senha">
    </div>
    <button type="submit" class="btn">Entrar</button>

    <p id="no-account"><a class="link" href="/">Voltar</a></p>
</div>
    </div>
</form>
</body>
</html>